h1{
    color: black;
}
h2{
    color:gray;
}
h4{
    color:blue;
}
.title{
    background-color: cadetblue ;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.mission{
    background-color: lightgreen;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.vision{
    background-color: lightgreen ;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.links{
    background-color: grey;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}